/* TODO toggle dark/light themes */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #CCEEFA;
}

body {
    background-color: #FDFFFF;
}

.aquapanel {
    border: solid 3px #77EEFF;
    border-radius: 5px;
    background-color: #FAFEFF;
    margin: 1em;
    padding: 1.25em;
    box-shadow: 5px 5px 10px #CCEEFA;
}

#brand-header {
    color: #777777;
}

#brand-header span {
    color: #3773C9;
}

/*
label .fixed {
    display: inline-block;
    width: 5em;
}
*/
#access_form_container {
    display: none;
}

#help_input
, #link_input
, #comment_input
, #survey_input
, #feedback_input
, #ask_input
, #directory_input
, #video_input
, #note_input {
    display: none;
}

#note_input {
    display: block;
}

#watcher textarea {
    height: 5em;
    width: 90%;
}

#youtube_url {
    width: 80%;
}

#videoLink {
    width: 80%;
}

.player-frame {
    width: 1000px;
/*    border: solid 1px black;
    border-radius: 5px;
    margin: 0;*/
    padding: 2px;
}

.video-title {
    padding: 10px;
}

.player-table {
    margin-right: auto;
    margin-left: auto;
}

.player-table > tr > td {
    text-align: center;

}

.player-button {
    font-size: 1em;
    font-weight: normal;
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 0;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: solid black 0px;
    box-shadow: 1px 1px 1px #CCEEFA;
}

.player-button:active {
    border: solid blue 2px;
}


.button-big {
    font-size: 1.5em;
    font-weight: bold;
}

.button-biggest {
    font-size: 2.25em;
    font-weight: bolder;
}

form.signin {
    display: inline-block;
    padding: 1em;
}

.signin label {
    width: 6em;
}

.error {
    color: red;
}