body {
    background-color: #FDFFFF;
}

.aquapanel {
    border: solid 2px #00DDEE;
    border-radius: 5px;
    background-color: #FAFEFF;
    margin: 5px;
    padding: 25px;
    box-shadow: 5px 5px 10px #CCEEFA;
}
/*
label .fixed {
    display: inline-block;
    width: 5em;
}
*/

#help_input {
    display: none;
}

#note_input {
    display: none;
}

#link_input {
    display: none;
}

#comment_input {
    display: none;
}

#survey_input {
    display: none;
}

#feedback_input {
    display: none;
}

#ask_input {
    display: none;
}

#notes textarea {
    height: 5em;
    width: 90%;
}

#videoLink {
    width: 80%;
}

.player-frame {
    width: 646px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 0;
    padding: 2px;
}

.video-title {
    padding: 10px;
}