.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #CCEEFA;
}

body {
    background-color: #FDFFFF;
}

.aquapanel {
    border: solid 2px #00DDEE;
    border-radius: 5px;
    background-color: #FAFEFF;
    margin: 0.75em;
    padding: 1.25em;
    box-shadow: 5px 5px 10px #CCEEFA;
}

/*
label .fixed {
    display: inline-block;
    width: 5em;
}
*/

#help_input, #link_input, #comment_input, #survey_input, #feedback_input, #ask_input, #note_input {
    display: none;
}

#note_input {
    display: block;
}

#watcher textarea {
    height: 5em;
    width: 90%;
}

#videoLink {
    width: 80%;
}

.player-frame {
    width: 808px;
/*    border: solid 1px black;
    border-radius: 5px;
    margin: 0;*/
    padding: 2px;
}

.video-title {
    padding: 10px;
}

.player-table {
    margin-right: auto;
    margin-left: auto;
}

.player-table > tr > td {
    text-align: center;

}

.player-button {
    font-size: 1em;
    font-weight: normal;
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 0;
    padding-bottom: 5px;
}

.button-big {
    font-size: 1.5em;
    font-weight: bold;
}

.button-biggest {
    font-size: 2.25em;
    font-weight: bolder;
}