<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Video Minutes</display-name>

    <!--<servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping> -->

<!--   Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

   <!-- https://www.logicbig.com/tutorials/java-ee-tutorial/java-servlet/programmatic-security.html -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RequiresLocalUserRole</web-resource-name>
       <url-pattern>/loadClient</url-pattern>

      <url-pattern>/new-note</url-pattern>
      <url-pattern>/edit-note</url-pattern>
      <url-pattern>/delete-note</url-pattern>

      <url-pattern>/new-video</url-pattern>
      <url-pattern>/edit-video</url-pattern>
      <url-pattern>/delete-video</url-pattern>

      <url-pattern>/new-directory</url-pattern>
      <url-pattern>/edit-directory</url-pattern>
      <url-pattern>/delete-directory</url-pattern>

      <url-pattern>/subscribe</url-pattern>
    </web-resource-collection>

    <auth-constraint>
      <role-name>local</role-name>
      <role-name>admin</role-name>
      <role-name>super</role-name>
    </auth-constraint>

  </security-constraint>


  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RequiresAdminRole</web-resource-name>
      <url-pattern>/admin.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>local</role-name>
  </security-role>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <role-name>super</role-name>
  </security-role>


    <error-page>
      <error-code>403</error-code>
      <location>/not_admin.jsp</location>
    </error-page>

  <!--
    <error-page>
      <error-code>400</error-code>
      <location>/loadClient</location>
    </error-page>
  -->
</web-app>
